body {
  margin: auto;
}

table {
  height: 600px;
  width: 600px;
  margin: 0 auto;
}

td {
  border: 1px solid black
}

td.alive {
  background-color: rgb(57, 177, 139);
}

.main {
  margin: 0 25%;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 5px 10px;
}

#app {
  text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
